:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: rgb(0, 155, 145);
  color: rgba(0, 155, 145, 1);
  background-color: #f3f3f3;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(0, 155, 145, 1);
  cursor: pointer;
  transition: border-color 0.25s;
}
button.empty-button {
  background-color: transparent;
  color: rgba(0, 155, 145, 1);
  border: none;
  padding: 0;
  margin: 0;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  margin: auto;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgba(0, 155, 145, 1);
    background-color: #f3f3f3;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: rgba(0, 155, 145, 1);
  }
}
